
.container>img{
    filter: saturate(0%);
    width: 100px;
    border: 2px solid whitesmoke;
    height: 850px;
    object-fit: cover;
    border-radius: 12px;
    transition: all ease 0.4s;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

img:hover {
    filter: saturate(100%);
    width: 1000px;
    align-items: center;

}
.container{
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

    margin-top: 50px;
    flex-wrap: wrap;
}